<!DOCTYPE html>
<html ng-app="ToDo">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="bower_components/material-design-icons/iconfont/material-icons.css">
    <link rel="stylesheet" href="dist/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="icon" type="image/ico" href="dist/images/favicon.ico" />
  </head>

  <body class="list" ng-controller="todoController">
    <header>
      <nav>
        <div class="nav-wrapper">
          <p class="brand-logo center">Minha Lista</p>
        </div>
      </nav>
    </header>

    <section class="search-task" ng-hide="!todos.length">
      <div class="had-container">
        <div class="row">
          <div class="col s12">
            <form>
              <div class="input-field">
                <input type="text" ng-model="search" placeholder="buscar">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section class="count-task" ng-hide="!todos.length">
      <div class="had-container">
        <div class="row">
          <div class="col s12">
            <span>{{ remaining() }} de {{ todos.length }} itens restantes</span>
          </div>
        </div>
      </div>
    </section>

    <section class="tasks">
      <div clas="had-container">
        <div class="row">
          <div class="col s12">
            <ul class="task-list">
              <li data-ng-repeat="todo in todos | filter:search track by $index">
                <input type="checkbox" id="{{'check-'+ $index }}" data-ng-click="completed()" data-ng-model="todo.done" />
                <label for="{{'check-'+ $index }}" class="done-{{ todo.done }}" data-ng-click="completed()">{{ todo.text }}</label>
                <span  data-ng-show="todo.done" data-ng-click="delete($index)"><i class="material-icons right icon-theme">delete</i></span>
              </li>
              <li ng-hide="todos.length"><i class="material-icons">shopping_cart</i> Carrinho vazio <i class="material-icons right icon-theme">done</i></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <section class="add-task">
          <div class="container">
            <form  class="todo-form">
              <div class='row'>
                <div class="col s10">
                  <div class="input-field">
                    <input type="text" data-ng-model="todoText" id="textarea1" placeholder="Preciso comprar ..." class="materialize-textarea">
                  </div>
                </div>
                <div class="col s2">
                  <button class="btn-floating btn-small waves-effect waves-light btn-theme" ng-disabled="!todoText"  data-ng-click="addTodo()">
                    <i class="material-icons icon-theme">done</i>
                  </button> 
                </div>
              </div>
            </form>
          </div>     
      </section>
    </footer>

    <section class="load">
      <div class="loader">   
          <i class="material-icons">&#xE8CC;</i> 
          <div class="loading">
          </div>
        </div>
    </section>

   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="dist/js/modules.js"></script>
    <script type="text/javascript" src="dist/js/index.js"></script>
  </body>
</html> 