@import 'compass';
@import 'variables';
@import 'mixin';
*{
	padding: 0;
	margin: 0;
}
html{
	font-size: 20px;
}

li{
	list-style: none;
}
span,p,li,a,label{
	color:$highlight;
}

header{
	border: none;
	margin: 0;
}
.icon-theme{
	color: $white;
}

.btn-floating{ 
	margin-top: 15px;
	i {
	    font-size: 1.2rem;
	}
}

.list{
	background-color: $theme-light;
	input[type='text']{
		color:$theme;
		outline: none;
	}
	input[type='text']{
		opacity: 1;
	}
	nav{
		.brand-logo{
			font-size: 16px;
		}
		.nav-wrapper{
			background-color:$theme;
			.button-collapse{
				i{
					font-size: 1.5em;
				}
			}
		}
	}
}

section{
	&.tasks{
		ul{
			&.task-list{
				margin-bottom: 100px;
				li{
					margin-bottom: 10px;
					padding: 10px 0;
				    border-bottom: 1px dashed $theme;
				    .icon-theme{
						color: $highlight;
					}

					[type="checkbox"]+label{
						max-width: 85%;
						&.done-true{
							text-decoration: line-through;
							color: rgba($highlight,0.8);
							font-style: italic;
							
						}
					}
				}
			}
		}
	}
	&.add-task{
		border-top: 1px dashed #3e2723;
		@include position(fixed, $bottom: 0);
		width: 100%;
		background-color: $theme-light;
	}
}

//loader
.loader{
    background: $theme;
    width: 100%;
    z-index: 9999;
    @include position(fixed, $top: 0, $left: 0);
    height: 100%;
		i.material-icons{
			@include position(absolute,50%,null,null,50%);
		    z-index: 99999999;
		    font-size: 30px;
		    color: $theme-light;
		    margin-left: -15px;
		    margin-top: -15px;
		}
    .loading{
        display: block;
        @include position(relative, $top: 50%, $left: 50%);
        @include size(60px,60px);
        margin: -30px 0 0 -30px;
        border-radius: 50%;
        border: 5px solid transparent;
        border-top-color:$theme-light;
        z-index: 99999999;
        @include animation(spin 1s linear infinite);
    }
}

@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}